<ol>
{{#designs}}
    <li>
        <div>
            {{#images}}
                <img src="{{thumb}}" />
            {{/images}}
        </div>

        {{{description}}}
    </li>
{{/designs}}
</ol>
