{{#albums}}
    <fieldset>
        <legend><h2>{{name}}</h2></legend>
        <div>
            {{#pictures}}
                <a href="{{orig}}" style="background-image:url('{{thumb}}')"> </a>
            {{/pictures}}
        </div>
    </fieldset>
    <br />
{{/albums}}
