<ol class="items">
{{#items}}
    <li>
        {{#title}}
            <h2>{{title}}</h2>
        {{/title}}
        <div>
            {{#images}}
                <img src="{{thumb}}" />
            {{/images}}
        </div>

        {{{description}}}
    </li>
{{/items}}
</ol>
