<ol class="items">
{{#items}}
    <li>
        <div>
            {{#images}}
                <img src="{{thumb}}" />
            {{/images}}
        </div>

        {{{description}}}
    </li>
{{/items}}
</ol>
