<!doctype html>
<html lang="en-US">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{{title}}</title>
    <style>{{criticalcss}}</style>
    <link rel="stylesheet" href="{{css}}">
    <meta name="description" content="{{description}}">

    <nav>{{{navigation}}}</nav>
    <div{{#class}} class="{{class}}"{{/class}}>{{{content}}}</div>
</html>
