// Critical CSS that goes inline into HEAD of every page

// @import "variables";
// Colors
$color-bg: #fff;
$color-fg: #010101;

// Dark mode colors
$dark-color-bg: #000;
$dark-color-fg: #efefef;

// General
$spacing: 1rem;
$mobile-spacing: 0.2rem;

body {
    background-color: $color-bg;
    color: $color-fg;
    font-family: Arial, sans-serif;
}

// Dark mode
@media (prefers-color-scheme: dark) {

    body {
        background-color: $dark-color-bg;
        color: $dark-color-fg;
    }

}
