@option compress: yes;

$spacing: 1rem;

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

body {
    line-height: 1.25;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8rem;
    max-width: 80rem;
    padding: 0;

    & > div {
        margin: $spacing;
    }
}

nav {
    margin: $spacing;
    position: relative;
    z-index: 2;

    a {
        float: right;

        &:not(:first-child):not(:last-child) {
            margin: 0 .5rem;
        }

        &:first-child {
            float: left;
        }
    }

    &:after {
        content: '';
        clear: both;
        display: block;
    }
}

a {
    color: red;
    text-decoration: none;

    &:visited {
        color: green;
    }
}

h1 {
    font-size: $spacing * 1.75;
    margin-top: $spacing * 1.75;
}

h2 {
    font-size: $spacing * 1.25;
    margin-top: $spacing * 1.25;
}

h3 {
    font-size: $spacing * 1.05;
    margin-top: $spacing * 1.05;
}

h1,
h2,
h3 {
    margin-bottom: $spacing;
}

ul {
    padding-left: $spacing * 1.45;
}

.logbook {
    display: flex;
    margin: 0;

    & > div {
        pointer-events: none;
        width: 33.3333%;

        // Background pages (left and right)
        &:first-child,
        &:last-child {

            & > div {
                & > a {
                    color: inherit;
                    display: block;
                    filter: blur(.225rem);
                    opacity: .67;
                    transition: filter .15s, opacity .15s;

                    &:hover {
                        filter: blur(.1225rem);
                        opacity: .8;
                    }

                    &:visited {
                        color: inherit;
                    }

                    & > :first-child {
                        margin-top: $spacing;
                    }
                }
            }
        }

        // Current page (center)
        &:not(:first-child):not(:last-child) {
            & > div {
                box-shadow: 0 0 67px #fff;
                position: relative;
                z-index: 1;

                & > :first-child {
                    margin-top: $spacing;
                }
            }
        }

        & > div {
            background-color: #fff;
            border-radius: $spacing / 4;
            overflow: hidden;
            padding: 0 $spacing;
            pointer-events: auto;
        }
    }
}

// Dark mode
@media (prefers-color-scheme: dark) {

    .logbook {
        & > div {
            & > div {
                background-color: #000;
            }

            &:not(:first-child):not(:last-child) {
                & > div {
                    box-shadow: 0 0 67px #000;
                }
            }
        }
    }

}

// Tablets
@media (max-width: 100rem) {

    body {
        max-width: 60rem;
        // padding: 0.75rem;
    }

    .logbook {
        & > div {
            width: 50%;

            &:not(:first-child):not(:last-child) {
                margin-left: -25%;
                margin-right: -25%;
            }
        }
    }

}

// Smartphones
@media (max-width: 30rem) {

    body {
        // padding: 0.5rem;
    }

    .logbook {
        & > div {
            width: 80%;

            &:not(:first-child):not(:last-child) {
                margin-left: -70%;
                margin-right: -70%;
            }
        }
    }

}
