@option compress: yes;

body {
    background-color: #fff;
    color: #010101;
    font-family: Arial, sans-serif;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8rem;
    max-width: 80rem;
    padding: 1.5rem;
}

nav {
    margin-bottom: 1rem;
    position: relative;
    z-index: 2;

    a {
        float: right;

        &:not(:first-child):not(:last-child) {
            margin: 0 .5rem;
        }

        &:first-child {
            float: left;
        }
    }

    &:after {
        content: '';
        clear: both;
        display: block;
    }
}

a {
    color: red;
    text-decoration: none;

    &:visited {
        color: green;
    }
}

h1 {
    margin-top: 2rem;
}

.logbook {
    display: flex;

    & > div {
        pointer-events: none;
        width: 33.3333%;

        & > div {
            background: rgba(255, 255, 255, .95);
            border-radius: .5rem;
            overflow: hidden;
            padding: .5rem 1rem;
            pointer-events: auto;
        }

        &:first-child,
        &:last-child {

            & > div > a {
                color: inherit;
                display: block;
                filter: blur(.225rem);
                opacity: .67;
                transition: filter .15s, opacity .15s;

                &:hover {
                    filter: blur(.1225rem);
                    opacity: .8;
                }

                &:visited {
                    color: inherit;
                }
            }
        }

        &:not(:first-child):not(:last-child) {
            & > div {
                box-shadow: 0 0 100px #fff;
                position: relative;
                z-index: 1;
            }
        }
    }
}

// Dark mode
@media (prefers-color-scheme: dark) {

    body {
        background-color: #000;
        color: #efefef;
    }

    .logbook {
        & > div {
            & > div {
                background: rgba(0, 0, 0, .95);
            }

            &:not(:first-child):not(:last-child) {
                & > div {
                    box-shadow: 0 0 100px #000;
                }
            }
        }
    }

}

// Tablets
@media (max-width: 100rem) {

    body {
        max-width: 60rem;
        padding: 0.75rem;
    }

    .logbook {
        & > div {
            width: 50%;

            &:not(:first-child):not(:last-child) {
                margin-left: -25%;
                margin-right: -25%;
            }
        }
    }

}

// Smartphones
@media (max-width: 30rem) {

    body {
        padding: 0.5rem;
    }

    .logbook {
        & > div {
            width: 80%;

            &:not(:first-child):not(:last-child) {
                margin-left: -70%;
                margin-right: -70%;
            }
        }
    }

}
